<h2>Islands To Review</h2>

<article class="mail">
  <a class="check-mail" href="https://mail.dir.bg/?_h=f679d352c9715a1249af3dd835b906bd" target="_blank">Check Bookings</a>
</article>


<table *ngIf="adminIslands?.length!=0" class="islands">
    <tr>
      <th>Name</th>
      <th>Partner Name</th>
      <th>Status</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let adminIsland of adminIslands">
      <td>{{adminIsland.name}}</td>
      <td>{{adminIsland.partnerName}}</td>
      <td *ngIf="!adminIsland.isPublic"><button class="public" (click)="changeStatus(adminIsland.id)">Make Public</button></td>
      <td><a class="details" routerLink="/islands/{{adminIsland.id}}">More Details</a></td>
    </tr>
</table>

<p class="no-islands" *ngIf="adminIslands?.length==0">No islands to review at the moment</p>
