<h2>Islands Table</h2>

<table>
    <tr>
      <th>Name</th>
      <th>Partner Name</th>
      <th>Status</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let adminIsland of adminIslands">
      <td>{{adminIsland.name}}</td>
      <td>{{adminIsland.partnerName}}</td>
      <td *ngIf="adminIsland.isPublic"><button class="public">Make Private</button></td>
      <td *ngIf="!adminIsland.isPublic"><button class="public">Make Public</button></td>
      <td><a class="details" routerLink="/islands/{{adminIsland.id}}">More Details</a></td>
    </tr>
</table>
