<h2>All Islands</h2>

<form>
    <input [formControl]="searchControl" type="text" placeholder="Search by name or location"/>
    <a class="add" *ngIf="isPartner()" routerLink="/islands/add">Add Island</a>
</form>


<article class="container">
    <article class="islands">
        <article class="island" *ngFor="let island of islands" routerLink="/islands/{{island.id}}">
            <article class="island-img  animate__animated animate__bounce animate__delay-0.5s">
                <img src="{{'data:image/*;base64,' + island.imageUrl}}" alt="{{island.name}}">
            </article>
            <article class="island-text">
                <h2>{{island.name}}</h2>
                <article class="island-text-details">
                    <p><i class="fas fa-map-pin"></i> {{island.location}}</p>
                    <p *ngIf="island.price"> <i class="fas fa-dollar-sign"></i> ${{island.price}}</p>
                    <p *ngIf="!island.price"> <i class="fas fa-dollar-sign"></i> Upon request</p>
                    <p><i class="fas fa-chart-area"></i> {{island.size}} ACRES<sup> 2</sup></p>
                </article>                
            </article>
            <article class="buttons">
                <a class="details" routerLink="/islands/{{island.id}}">More Details</a>
            </article>
        </article>
    </article>
</article>
