@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

h2{
    text-align: center;
    padding-top: 2%;
}

form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: auto;
}

form input::placeholder{
    text-align: center;
}

form input:focus::placeholder {
    color: transparent;
}

form a{
    text-decoration: none;
    background-color: #BFC0C0;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

form a:hover{
    text-decoration: none;
    background-color: greenyellow;
    color: black;
}

.container{
    width: 90%;
    margin: auto;
    margin-top: 5em;
}

.islands{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.island{
    width: 30%;
    background-color: #F4F8FE;
    margin-bottom: 2em;
    transition: transform .3s;
}

.island:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.island-img{
    width: 100%;
}

.island-img img{
    width: 100%;
    height: 300px;
}

.island-text h2{
    text-align: center;
}

.island-text-details{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.details{
    text-decoration: none;
    color: white;
    background-color: coral;
    padding: 10px;
    border: 1px solid coral;
    border-radius: 20px;
}

.buttons{
    display: grid;
    width: 97%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.buttons:hover{
    opacity: 0.8;
}