@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

h2{
    text-align: center;
    margin-top: 2%;
}

.container{
    width: 90%;
    margin: auto;
    margin-top: 5em;
}

.islands{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.island{
    width: 30%;
    background-color: #F4F8FE;
    margin-bottom: 2em;
    transition: transform .3s;
}

.island:hover{
    transform: scale(1.03);
}

.island-img{
    width: 100%;
}

.island-img img{
    width: 100%;
    height: 300px;
}

.island-text h2{
    text-align: center;
}

.island-text-details{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.details{
    text-decoration: none;
    color: white;
    background-color: coral;
    padding: 10px;
    border: 1px solid coral;
    border-radius: 20px;
}

.edit{
    background-color: navajowhite;
    padding: 10px;
    color: white;
    border: 1px solid navajowhite;
    border-radius: 20px;
}

.delete{
    background-color: red;
    padding: 10px;
    color: white;
    border: 1px solid red;
    border-radius: 20px;
}

.buttons{
    width: 97%;
    margin: auto;
    display: grid;
    text-align: center;
    gap: 5px;
    margin-bottom: 10px;
}

.buttons:hover{
    opacity: 0.8;
}

.no-island{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.no-island p{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
}

.no-island-img
{
    margin-bottom: 2%;
}
.no-island-img img{
    width: 100%;
}

.no-island a{
    text-decoration: none;
    background-color: #BFC0C0;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.no-island a:hover{
    text-decoration: none;
    background-color: greenyellow;
    color: black;
}