<article class="container">
    <article class="island" *ngIf="island">
        <article class="island-img">
            <img src="{{'data:image/*;base64,' + island.imageUrl}}" alt="{{island.name}}">
        </article>
        <article class="island-data">
            <h2>{{island.name}}</h2>
            <p>Location: {{island.location}}</p>
            <!-- <p>Description: {{island.description}}</p> -->
            <button (click)="toggleDescription()">Click Me</button>
                <div id="myDIV">
                    {{island.description}}
                </div>
            <p>Size: {{island.size}}</p>
            <p *ngIf="island.price">Price: {{island.price}}</p>
            <p *ngIf="!island.price">Price upon request</p>
            <p>Region: {{island.islandRegionName}}</p>
            <p>Population: {{island.populationSizeName}}</p>
            <article class="admin-area" *ngIf="getAdminStatus()">
                <button class="public" *ngIf="!island.isPublic" (click)="changeStatus(island.id)">Make Public</button>
                <button class="public" *ngIf="island.isPublic" (click)="changeStatus(island.id)">Make Private</button>
                <button class="edit" (click)="editIsland(island.id)">Edit</button>
                <button class="delete" [swal]="{title: 'Are you sure?', text: 'You will not be able to revert this!', icon: 'warning',confirmButtonColor: '#d33' ,showCancelButton: true}" (confirm)="deleteIsland(island.id)" (dismiss)="cancelChanges()">
                    Delete
                </button>
            </article>
        </article>
    </article>
</article>
