h2{
    text-align: center;
    padding-top: 2%;
}

.container{
    width: 90%;
    margin:auto;
    background-color: #F4F8FE;
}

.island{
    display: flex;
    max-height: 80%;
    min-height: 60%;
    margin-top: 6%;
}

.island-img{
    width: 50%;
}

.island-img img{
    width: 100%;
}

hr{
    width: 90%;
}

.location-details, .additional-details{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-size: 16px;
}

.description-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.island-data{
    width: 50%;
}

.edit{
    background-color: navajowhite;
    padding: 10px;
    color: white;
    border: 1px solid navajowhite;
    border-radius: 20px;
}

.delete{
    background-color: red;
    padding: 10px;
    color: white;
    border: 1px solid red;
    border-radius: 20px;
}

.public{
    background-color: greenyellow;
    padding: 10px;
    color: white;
    border: 1px solid greenyellow;
    border-radius: 20px;
}

#descriptionBtn{
    background: dodgerblue;
    color: white;
    padding: 10px;
    border: 1px solid dodgerblue;
    border-radius: 20px;
}

#descriptionBtn:hover{
    opacity: 0.8;
}

#description{
    display: none;
    text-align: center;
    padding-top: 1%;
}

.admin-area{
    width: 90%;
    margin: auto;
    display: grid;
    text-align: center;
    gap: 5px;
    margin-bottom: 10px; 
    margin-top: 10px;   
}

.admin-area:hover, .contact-area:hover{
    opacity: 0.8;
}

.contact-area{
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.contact{
    background-color: greenyellow;
    padding: 10px;
    color: white;
    border: 1px solid greenyellow;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.no-island{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.no-island p{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
}

.no-island-img
{
    margin-bottom: 2%;
}
.no-island-img img{
    width: 100%;
}