.container{
    width: 90%;
    margin:auto;
    background-color: #F4F8FE;
    margin-top: 5em;
}

.island{
    display: flex;
}

.island-img{
    width: 50%;
}

.island-img img{
    width: 100%;
}

.island-data{
    width: 50%;
}

.edit{
    background-color: navajowhite;
    padding: 10px;
    color: black;
    border: 1px solid navajowhite;
}

.delete{
    background-color: red;
    padding: 10px;
    color: black;
    border: 1px solid red;
}

#description{
    display: none;
}