h2{
  text-align: center;
  padding-top: 2%;
}

form {
  border: 3px solid #f1f1f1;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

input, textarea, .readonly {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
}

form input:focus::placeholder {
  color: transparent;
}

.dropdowns{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.submitBtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.submitBtn:hover{
  background-color: greenyellow;
  color: black;
}

.cancel{
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

::-webkit-file-upload-button {
  background: dodgerblue;
  color: white;
  padding: 1em 2em;
  border: 1px solid dodgerblue;
  border-radius: 20px;
  margin-right: 20px;
}

::-webkit-file-upload-button:hover{
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}