<div *ngIf="!isLoggedIn()">
  <div class="login">
    <h2 class="active"> log in </h2>
  
    <h2 class="nonactive" routerLink="/register"> register </h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">     
  
      <input type="text" class="text" name="username" formControlName="username">
       <span>username</span>

       <ng-container *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].invalid">
        <p *ngIf="loginForm.controls['username'].errors?.['required']" class="error">
            Username is required!
        </p>
        <p *ngIf="loginForm.controls['username'].errors?.['minlength']" class="error">
            Username must be at least 4 characters!
        </p>
    </ng-container>
  
      <br>
      
      <br>
  
      <input type="password" class="text" name="password" formControlName="password">
      <span>password</span>

      <ng-container *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
        <p *ngIf="loginForm.controls['password'].errors?.['required']" class="error">
            Password is required!
        </p>
        <p *ngIf="loginForm.controls['password'].errors?.['minlength']" class="error">
            Password must be at least 6 characters!
        </p>
    </ng-container>

      <br>
      
      <button [disabled]="loginForm.invalid" class="signin">
        Log In
      </button>
  
  
      <hr>
  
    </form>
  
  </div>
</div>


<div class="return" *ngIf="isLoggedIn()">
  <h2>You are already logged in!</h2>
  <a routerLink="/home">Home</a>
</div>