footer{
    background-color: aliceblue;
    position:sticky;
    bottom:0px;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
    color: blue;
}