<div *ngIf="!isLoggedIn()" class="register">
    <h2 routerLink="/login" class="nonactive"> log in </h2>
  
    <h2 class="active"> register </h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">     
  
      <input type="text" class="text" name="username" formControlName="username">
       <span>username</span>

       <ng-container *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].invalid">
        <p *ngIf="registerForm.controls['username'].errors?.['required']" class="error">
            Username is required!
        </p>
        <p *ngIf="registerForm.controls['username'].errors?.['minlength']" class="error">
            Username must be at least 4 characters!
        </p>
    </ng-container>
  
      <br>
      
      <br>

    <input type="text" class="text" name="email" id="email" formControlName="email">
    <span>email</span>

    <ng-container *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid">
        <p *ngIf="registerForm.controls['email'].errors?.['required']" class="error">
            Email is required!
        </p>
        <p *ngIf="registerForm.controls['email'].errors?.['email']" class="error">
          Invalid email format!
      </p>
    </ng-container>

    <br>

    <br>

      <div formGroupName="passwords">
        <input type="password" class="text" name="password" formControlName="password" formControlName="password">
        <span>password</span>

        <ng-container *ngIf="shouldShowErrorForControl('password', passwordsGroup)">
            <p *ngIf="passwordsGroup.controls['password'].errors?.['required']" class="error">
                Password is required!
            </p>
            <p *ngIf="passwordsGroup.controls['password'].errors?.['minlength']" class="error">
                Password must be at least 6 characters!
            </p>
        </ng-container>

        <input type="password" class="text" name="rePassword" id="rePassword" formControlName="rePassword">
        <span> repeat password</span>

        <ng-container *ngIf="shouldShowErrorForControl('rePassword', passwordsGroup)">
            <p *ngIf="passwordsGroup.controls['rePassword'].errors?.['passwordMissmatch']" class="error">Repeat Password does not match password!</p>
        </ng-container>

    </div>

    <br>
      
      <br>
      
      <button [disabled]="registerForm.invalid" class="signin">
        Register
      </button>
  
  
      <hr>
  
    </form>
  
  </div>

  <div class="return" *ngIf="isLoggedIn()">
    <h2>You are already registered!</h2>
    <a routerLink="/login">Login</a>
  </div>