h2{
    text-align: center;
    padding-top: 2%;
}

.map{
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}

form {
    border: 3px solid #f1f1f1;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }
  
  input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
  }
  
  form input:focus::placeholder {
    color: transparent;
  }

  .submitBtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }
  
  .submitBtn:hover{
    background-color: greenyellow;
    color: black;
  }
  
  .cancel{
      background-color: red;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 10px;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }
  
  p.error {
      text-align: left;
      border-radius: 0.3em;
      color: red;
      padding-top: 0;
  }